.app {
  text-align: center;
}

.myDeck {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #515CE0;
  width: 400px;
  min-height: 400px;
  float: left;
  overflow: hidden;
}

.myDemand {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid #FF9C5F;
  width: 400px;
  min-height: 400px;
  float: left;
  overflow: hidden;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  height: 40px;
  line-height: 40px;
}

.myDeck .title {
  background-color: #515CE0;
}

.myDemand .title {
  background-color: #FF9C5F;
}

.options {
  padding: 10px;
}